@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Note App...</h1>
    <div>
        <p>
            <a asp-controller="User" asp-action="Create">Create an account</a>
        </p>
        Already have an account?
        <a class="btn btn-sm btn-outline-success" asp-controller="Note" asp-action="Add">Add Note</a>
    </div>
</div>
